* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito;
}

@font-face {
  font-family: Nunito;
  src: url("./assets/fonts/Nunito-Regular.ttf");
}
li, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 27px;
}
.header__logo a {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__logo h1 {
  color: #333333;
  font-weight: 700;
  font-size: 32px;
}
.header__navigation {
  display: flex;
  align-items: center;
  gap: 56px;
}
.header__navigation li button, .header__navigation li a {
  color: #0A033C;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  transition: transform ease-in-out 0.1s;
}
.header__navigation li button:hover, .header__navigation li a:hover {
  color: #FAB900;
  font-weight: 600;
  transform: scale(1.03);
}
.header__registration {
  display: flex;
  align-items: center;
  gap: 43px;
}
.header__registration-sign {
  color: #1F1C14;
}
.header__registration-sign:hover {
  border-bottom: 1px solid #1F1C14;
}
.header__registration-login {
  color: #fff;
  background-color: #362B0E;
  border-radius: 16px;
  padding: 16px 37.5px;
  transition: transform ease-in-out 0.1s;
}
.header__registration-login:hover {
  transform: scale(1.03);
}
.header__registration-logout {
  color: #fff;
  background-color: #362B0E;
  border-radius: 16px;
  padding: 16px 37.5px;
  transition: transform ease-in-out 0.1s;
}
.header__registration-logout:hover {
  transform: scale(1.03);
}
.header__registration button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}
.modal.active {
  pointer-events: all;
  opacity: 1;
}
.modal__content {
  background: white;
  padding: 50px;
  transform: scale(0);
  transition: 0.3s ease-in-out all;
}
.modal__content.active {
  transform: scale(1);
}

.form__auth {
  text-align: left;
}
.form__auth.title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 50px;
}
.form__auth.input {
  padding-top: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid #0A033C;
  width: 100%;
  font-size: 18px;
}
.form__auth.input:user-invalid {
  border-bottom: 1px solid red;
}
.form__auth.div {
  display: flex;
  flex-direction: column;
}
.form__auth.div p {
  margin-top: 20px;
  font-size: 18px;
}
.form__auth.button {
  background-color: #000;
  font-size: 20px;
  font-weight: 500;
  padding: 18px 135px;
  color: #fff;
  margin-top: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.form__auth.button:hover {
  opacity: 0.9;
}
.form__auth .info {
  margin-top: 60px;
}

.main {
  background-color: #F9F9F9;
  margin-top: 27px;
}
.main__wrapper {
  display: flex;
  justify-content: space-between;
}
.main__title {
  margin-top: 153px;
  margin-left: 18px;
}
.main__title h1 {
  font-size: 48px;
  font-weight: 400;
  width: 610px;
}
.main__title p {
  font-size: 16px;
  width: 644px;
  margin-top: 16px;
}
.main__title button {
  background-color: #FABA00;
  font-weight: 500;
  color: #000;
  font-size: 24px;
  border-radius: 16px;
  margin-top: 56px;
  padding: 17px 67.5px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.main__title button:hover {
  transform: scale(1.03);
  opacity: 0.95;
}
.main__image {
  background: url("./assets/images/Main_bg.svg") no-repeat center center/cover;
  width: 100%;
}
.main__image img {
  margin-left: 200px;
  margin-top: 153px;
}

.catalog {
  background-color: #F9F9F9;
  width: 100%;
  margin-top: 27px;
}
.catalog__navigation {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #1F1C14;
  padding-top: 24px;
}
.catalog__navigation p {
  opacity: 0.4;
}
.catalog__navigation button {
  font-size: 16px;
  opacity: 0.4;
  cursor: pointer;
}
.catalog__navigation button:hover {
  opacity: 1;
}
.catalog__banner {
  background: url(./assets/images/Catalog_bg.svg) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 20px;
}
.catalog__banner-text {
  margin-left: 207px;
  margin-top: 43px;
}
.catalog__banner-text h1 {
  font-size: 40px;
  font-weight: 600;
  width: 512px;
}
.catalog__banner-text p {
  font-size: 20px;
  width: 452px;
}
.catalog__banner-text button {
  background-color: #FABA00;
  font-weight: 500;
  color: #000;
  font-size: 24px;
  border-radius: 16px;
  margin-top: 36px;
  padding: 17px 67.5px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.catalog__banner-text button:hover {
  transform: scale(1.03);
  opacity: 0.95;
}
.catalog__banner-image {
  margin-left: 200px;
}/*# sourceMappingURL=App.css.map */